* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  color: rgb(13, 22, 17);
  background: rgb(253, 253, 253);
}

h1 {
  font-family: monospace;
  font-size: 35px;
}
